.custom-container {

position: relative;
left: 20px;
}

.pantalla {

    display: flex;
}

.container2 {
    
    position: relative;
    left: -300px;
    top: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;

}

.titulo{

   color: white;
   text-decoration: none;
   position: relative;
   left: -560px;
}

.boton {

position: relative;
top: 100px;
left: 600px;

}